
@font-face {
    font-family: Lato;
    src: url("./../../src/fonts/Lato-Regular.ttf");
}

html, body{
  font-family: 'Lato', sans-serif;
  height: 100%;
  margin: 0;
  background-color: #ff6200;
}

a{
  text-decoration: none;
  color: inherit;
}
