#main-inner-container{
  width: 800px;
  margin: auto;
  display: flex;
}

#main-inner-container section{
  background-color: black;
  flex: 6;
}

#main-inner-container .canvas{
  flex: 2;
  height: 300px;
}
