
#full-nav{
  color: white;
  background-color: #ff6200;
  padding: 0 100px 0 100px;
  height: 9%;
}

#full-nav nav{
  display: flex;
  margin: auto;
  min-width: 550px;
}

#full-nav div{
  flex: 1;
}

#nav-right{
  text-align: right;
}

#nav-right ul{
  list-style-type: none;
  display: inline-block;
  margin-top: 22px;
}

#nav-right li{
  display: inline-block;
  margin-right: 25px;
  font-size: 18px;
  padding: 3px;
}
