
#background-canvas{
  display: fixed;
  position: absolute;
  height: 91%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  z-index: 1;
}

#main-container section{
  position: relative;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  z-index: 2;
}

#title-container{
  height: 200px;
  background-color: rgba(255,255,255,0.7);
  border: 1px solid rgba(0,0,0,0.3);
}

#title-container h2{
  color: black;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
  font-size: 60px;
}

#main-container section .tile-row{
  display: flex;
  margin-top: 10px;
}

#main-container section .tile{
  color: black;
  background-color: rgba(255,255,255,0.7);
  padding: 10px;
  flex: 1;
}

#main-container section .tile:hover{
  background-color: rgba(255,255,255,0.8);
}

#main-container section .tile-left{
  margin-right: 10px;
}

#main-container section .tile-right{
  margin-left: 10px;
}
